@{
    ViewData["Title"] = "Home Page";
}

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Is Available</th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>